@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 1.25rem;

}

.container {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
    margin-bottom: 2rem;
}

.container img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.container h1{
    text-align: center;
    margin-top: 1rem;
    color: hsl(218, 44%, 22%);

}

.container p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 1.5rem;
    font-size: 18px;
}

@media (min-width:500px) {
    .container{
        width: 400px;
    }
}



